.container-main {
    margin-top: 10rem;
}

.container-contact {
    margin-top: 5rem;
}

.container-location {
    margin-top: 35rem;
}

.container-image {
    margin-top: -20rem;
}

.container-form {
    border-radius: 1rem;
    background-color: #1a8789;
    height: 18rem;
}

.container-form input,
.container-form textarea {
    border-radius: .5rem;
    width: 100%;
}

.container-about {
    margin-top: 5rem;
}

.container-know {
    margin-top: 2rem;
}

.container-services {
    margin-top: 4rem;
}