.container-main {
    margin-top: 12rem;
}

.container-contact {
    height: 100vh;
    margin-top: 5rem;
}

.container-location {
    margin-top: 37rem;
}

.container-image {
    margin-top: -20rem;
}

.container-form {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 0rem;
    background-color: #1a8789;
    height: 18rem;
}

.container-form input,
.container-form textarea {
    border-radius: 0rem;
    width: 100%;
}

.container-about {
    margin-top: 5rem;
}

.container-know {
    margin-top: 2rem;
}

.container-services {
    margin-top: 4rem;
}

.container-rate {
    margin-top: 4rem;
}
